body{
    background-color: black;
    color: white;
}

.heading1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    text-shadow: 2px 2px 2px white;
}

.list1{
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: 750px;
    margin-top: -30px;
}

.anchor-tag-1{
    color: white;
    text-decoration: none;
    padding-left: 20px;
}

.heading2{
    font-size: 100px;
    margin-top: 200px;
    margin-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 35px;
    text-shadow: 2px 2px 2px palevioletred;
}

.container3{
    width: 580px;
    height: 100px;
    margin-left: 25px;
}

div .para1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

a button{
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-top: 20px;
}

button span{
    padding-left: 10px;
}

.container4{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.img1{
    width: 150vh;
    height: 100vh;
    border-radius: 8px;
    border: 5px solid #ddd;
    padding: 5px;
}